export(author_course)
export(datacamp_login)
export(upload_all_chapters)
export(upload_chapter)
export(upload_course)
import(RCurl)
import(RJSONIO)
import(XML)
import(datacampSCT)
import(httr)
import(slidify)
import(yaml)
